extends ../pug/template.pug

block variables
	- var page_class = ""
	- var breadcrumb_chain = ["Главная", "О компании"] 

block append head
	//- link(rel='stylesheet', href='css/contacts-styles.css')

block page

	//- +breadcrumbs(breadcrumb_chain)
	
	h1.title О компании H1
	
	.block_blue
		h2 Сибирский сад H2

	p Наша организация не стоит на месте, #[a(href="") основная ссылка синего цвета] мы развиваемся и растем. На данный момент светло-синий ховер ассортимент служебная ссылка черного цвета #[a(href="") посещенная ссылка] нашей продукции насчитывает около 10 000 наименований, в том числе около 6 000 семян овощных и цветочных культур. Мы дорожим своей репутацией и никогда не предлагаем нашим покупателям некачественный товар. Всё самое лучшее, вы купите только у нас! На данный момент ассортимент нашей продукции насчитывает около 10 000 наименований, в том числе около 6 000 семян овощных и цветочных культур. Всё самое лучшее, вы купите только у нас! 
	
	//- img(src="images/simple-img-1.jpg", alt="")
	figcaption
		|Подпись к изображению. Всё самое лучшее, вы купите только у нас!

	//- img(src="images/simple-img-2.jpg", alt="")
	figcaption
		|Подпись к изображению. Всё самое лучшее, вы купите только у нас!
	
	h2 Сибирский сад H2
	h3 Подзаголовок H3


	p
		|SEO - текст. Наша организация не стоит на месте, мы развиваемся и растем. На данный момент ассортимент нашей продукции насчитывает около 10 000 наименований, в том числе около 6 000 семян овощных и цветочных культур. Мы дорожим своей репутацией и никогда не предлагаем нашим покупателям некачественный товар. Всё самое лучшее, вы купите только у нас!


	p #[strong Нумерованный список]

	ol
		li Мы дорожим своей репутацией и никогда не предлагаем нашим покупателям. Мы дорожим своей репутацией и никогда не предлагаем нашим покупателям. Мы дорожим своей репутацией и никогда не предлагаем нашим покупателям. Мы дорожим своей репутацией и никогда не предлагаем нашим покупателям.
		li На данный момент ассортимент нашей продукции насчитывает.
		li Мы дорожим своей репутацией и никогда не предлагаем нашим покупателям.

	p #[strong Ненумерованный список]

	ul
		li Мы дорожим своей репутацией и никогда не предлагаем нашим покупателям. Мы дорожим своей репутацией и никогда не предлагаем нашим покупателям. Мы дорожим своей репутацией и никогда не предлагаем нашим покупателям. Мы дорожим своей репутацией и никогда не предлагаем нашим покупателям.
		li На данный момент ассортимент нашей продукции насчитывает.
		li Мы дорожим своей репутацией и никогда не предлагаем нашим покупателям.

	h2 Форма обратной связи

	+form()
		+fieldset('Название1')
			+field-text({
				helpText: 'Подсказка',
				attrs: {
					placeholder: 'Пример'
				}
			})
			+field-text({
				helpText: 'Подсказка',
				attrs: {
					placeholder: 'Пример'
				}
			})
	
	+table()
		caption Таблица
		tbody
			tr 
				th Имя
				th Фамилия
				th Мыло
				th Статус
				th Политическая ориентация
		
		
			tr 
				td Иннокентий
				td Иванов
				td Хозяйственное
				td Администратор
				td «ВСЕГДА!»

			tr 
				td Васисуалий
				td Римский-Корсаков
				td Душистое
				td Пользователь
				td Нижняя